.buttons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.buttons > Button {
    /* background-image: linear-gradient(to bottom right, #F0D9B5, #B58863); */
    background-color: #F0D9B5;
    border: 1px solid gray;
    color: #000;
}

.buttons > Button:hover {
    box-shadow: 0.5px 0.5px 10px 1px #000;
    border: none;
    background-color: #B58863;
}